<ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
>
    <!-- Sidebar - Brand -->
    <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="index.html"
    >
        <div class="sidebar-brand-icon">
            <img src="/img/logo.svg" alt="" />
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    {{! Accounts }}
    <li class="nav-item">
        <a
            href=""
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapse-accounts"
            aria-expanded="true"
            aria-controls="collapse-accounts"
        >
            <i class="fa fa-users"></i>
            <span>Accounts</span>
        </a>
        <div
            class="collapse"
            id="collapse-accounts"
            aria-labelledby="collapse-accounts"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Account Management</h6>
                <a href="/staff/accounts" class="collapse-item">Accounts</a>
            </div>
        </div>
    </li>

    {{! Orders }}
    <li class="nav-item">
        <a
            href=""
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapse-orders"
            aria-expanded="true"
            aria-controls="collapse-orders"
        >
            <i class="fa fa-bag-shopping"></i>
            <span>Orders</span>
        </a>
        <div
            class="collapse"
            id="collapse-orders"
            aria-labelledby="collapse-orders"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Order Management</h6>
                <a href="" class="collapse-item"></a>
            </div>
        </div>
    </li>

    {{! Products }}
    <div class="nav-item">
        <a
            href=""
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapse-product"
            aria-expanded="true"
            aria-controls="collapse-product"
        >
            <i class="fa-solid fa-boxes"></i>
            <span>Products</span>
        </a>
        <div
            class="collapse"
            id="collapse-product"
            aria-labelledby="collapse-product"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Product Management</h6>
                <a
                    href="/staff/manage-pe/productevaluations"
                    class="collapse-item"
                >Product Evaluations</a>
            </div>
        </div>
    </div>

    {{! FAQs }}
    <div class="nav-item">
        <a
            href=""
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapse-faqs"
            aria-expanded="true"
            aria-controls="collapse-faqs"
        >
            <i class="fa-solid fa-question"></i>
            <span>FAQs</span>
        </a>
        <div
            class="collapse"
            id="collapse-faqs"
            aria-labelledby="collapse-faqs"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">FAQ Management</h6>
                <a href="/staff/manage-faqs/faqs" class="collapse-item">FAQs</a>
                <a href="/staff/manage-faqs" class="collapse-item">Add FAQ</a>
            </div>
        </div>
    </div>

    {{! Vouchers }}
    <li class="nav-item">
        <a
            href=""
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapse-vouchers"
            aria-expanded="true"
            aria-controls="collapse-vouchers"
        >
            <i class="fa-solid fa-tags"></i>
            <span>Vouchers</span>
        </a>
        <div
            class="collapse"
            id="collapse-vouchers"
            aria-labelledby="collapse-vouchers"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Voucher Management</h6>
                <a
                    href="/staff/manage-vouchers"
                    class="collapse-item"
                >Vouchers</a>
                <a
                    href="/staff/manage-vouchers/voucher-form"
                    class="collapse-item"
                >Add Voucher</a>
            </div>
        </div>
    </li>

    {{! Membership }}
    <li class="nav-item">
        <a
            href=""
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapse-membership"
            aria-expanded="true"
            aria-controls="collapse-membership"
        >
            <i class="fa-solid fa-users-rectangle"></i>
            <span>Memberships</span>
        </a>
        <div
            class="collapse"
            id="collapse-membership"
            aria-labelledby="collapse-membership"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Membership Management</h6>
                <a href="" class="collapse-item"></a>
            </div>
        </div>
    </li>

    {{! Tickets }}
    <div class="nav-item">
        <a
            href=""
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapse-tickets"
            aria-expanded="true"
            aria-controls="collapse-tickets"
        >
            <i class="fa-solid fa-ticket"></i>
            <span>Tickets</span>
        </a>
        <div
            class="collapse"
            id="collapse-tickets"
            aria-labelledby="collapse-tickets"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ticket Management</h6>
                <a href="/staff/tickets" class="collapse-item">Tickets</a>
            </div>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
        >
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div
            id="collapsePages"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot
                    Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item active">
        <a class="nav-link" href="/staff">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<script>
</script>